<h1 id="question">If you had $25, who would you <%= question %> to?</h1>
<div class="player loading left" data-id="<%= game.get('left').id %>">
  <img class="image" src="<%= game.get('left').image %>"/>
</div>
<div class="player loading right" data-id="<%= game.get('right').id %>">
  <img class="image" src="<%= game.get('right').image %>"/>
</div>